.navbar {
  .navbar-brand {
    color: var(--primary-subbtle);
    width: 300px;
    height: auto;

    &:hover,
    &:focus-visible {
      color: var(--primary-subtle);
    }
    &:focus-visible {
      outline: var(--warning) solid 2px;
    }
  }
  .nav-link {
    color: var(--light);
    margin-right: 2rem;
    font-size: 1.2rem;
    font-weight: 500;

    &:not(.active):hover {
      color: var(--warning);
      text-decoration: underline;
      text-underline-offset: 0.5rem;
    }

    &.active {
      color: var(--warning) !important;

      &::before {
        content: "☆ ";
      }
    }
    &:focus-visible {
      outline: var(--warning) solid 2px;
      color: var(--warning);
    }
  }
  .navbar-toggler {
    color: var(--light);
    &:hover {
      border-color: var(--light);
    }
  }
}

.custom-toggler {
  border: none !important;
  background: none;
  box-shadow: none;
  padding: 0 !important;
  line-height: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
 

  &:hover,
  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
  }
  &:focus-visible {
    outline: 2px solid var(--light) !important;
    outline-offset: 4px;
  }
  .icon {
    width: 2.3rem;
    height: 2.3rem;
    display: block;

    color: var(--light);
    pointer-events: none;
  }
}

.skip-button {
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 1rem;
  color: var(--warning);
  background-color: var(--dark);
  border: solid var(--warning) 2px;
  width: fit-content;
  font-weight: 400;
  &:focus {
    z-index: 10;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
}

@media (max-width: 992px) {
  .navbar {
    .nav-link {
      margin-bottom: 2rem;
    }
    .navbar-collapse {
      padding-top: 2rem;
    }
  }
}
@media (max-width: 768px) {
  .navbar {
    .navbar-brand {
      width: 200px;
    }
  }
}
