.video-card {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: var(--secondary-subtle) !important;

  &:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }

}
.category-icon-container {
  padding: 1rem;
}
.category-icon {
  font-size: 2rem;
}
