@font-face {
  font-family: "Nearo";
  src: url("./fonts/nearomedium-z86vl.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

$primary: #5626aa ;
$primary-subtle:#afafe8;
$secondary: rgb(6, 70, 161);
$secondary-subtle:rgb(164, 179, 247);
$success: #167308;
$success-subtle:#d2ee9f;
$info: #0d676a;
$info-subtle: #a5f5f7;
$warning: #f8e288; 
$danger: #8e0189; 
$danger-subtle: #efb0ed; 
$light:#f7f8f8;
$dark: #222; 



:root {
  --primary: #{$primary};
  --primary-subtle:#($primary-subtle);
  --secondary: #{$secondary};
   --secondary-subtle: #{$secondary-subtle};
  --success: #{$success};
  --success-subtle: #{$success-subtle};
  --info:#{$info};
  --info-subtle:#{$info-subtle};
  --warning: #{$warning};
  --danger: #{$danger};
  --danger-subtle: #{$danger-subtle};
  --light: #{$light};
  --dark: #{$dark};
  
}

$body-color:$light;
$body-bg: $dark;

$font-family-base: 'Quicksand', sans-serif;
$headings-font-family: 'Quicksand', sans-serif;
$font-size-base: 1rem;

@import "~bootstrap/scss/bootstrap";

